# SAM
backend/.aws-sam/*
!backend/.aws-sam/pipeline/

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# Editors / OS
.idea/
.vscode/
.DS_Store
